.main{
    background-image: url('../../assets/bjtable1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
    height:100%;
    min-height: 100vh;
    margin-top: 0px;


}

.center {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding: 10px;
    display: inline-block;
    border: 3px solid darkred;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.7em;
    background-color: white;
  }


.header{
    text-align: center;
    font-family: 'Caveat',cursive;
    font-size: 30px;
}

.hands{
    border: 2px solid darkgreen;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.7em;
    background-color: lightgrey;
    height:150px;
    margin-left: 5%;
    margin-right:5%;
    width:auto;
    margin-top: -10px;
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
}

.playerheaders{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}


.cards{
    width: 15%;
    height: 100%;
}

.chips{
    max-height:65%;
    width:17%;
    margin-left:3%;
    margin-top: 20px;
    
}

.chips:hover{
    cursor:pointer;

}

.actionholder{
    margin-top:20px;
    border: 2px solid gainsboro;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    height:125px;
    border-radius: 0.7em;
    background-color: gainsboro;
}

.chipbar{
    height:125px;
    display:inline-block;
}

.betdisplay{
    text-align: right;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-top:15px;
}

.centered{
    vertical-align: middle;
}

.buttonbar{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

.button{
    max-width: 20%;
    margin-left: 5px;
    font-size:5px;
}

.backbar{
    text-align: center;
}

.menuitem{
    font-family: 'Caveat', cursive;
    display: block;
    margin-left: 30px;
    font-size: 30px;
    color: #FF2400;
    margin-bottom: 10px;
}


@media screen and (max-width: 600px) {
    .center {
        width: 100%;
        margin-left:0px;
        margin-right: 0px;
    }
  }